h1
{
    text-align: center;
    margin-bottom: 20px;
}

h2
{
    text-align: center;
    margin-bottom: 20px;
}

.table
{
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
    border: 2px solid black;
}

.tblnames th
{
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 5px;
}

th
{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
}

td
{
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 5px;
}

.itemGroup {
  padding: 5px;
}

.used {
    display: none;
    border: 2px solid darkgrey;
    padding: 4px;
}

.stock {
    display: none;
    border: 2px solid darkgrey;
    padding: 4px;
}

.spacer {
    padding-bottom: 4px;
    padding-top: 4px;
}

.buttons {
    padding: 3px;
}

.rmv {
    margin-top: 4px;
}

.btnFlex {
    display: flex;
    justify-content: center;
}

.btnFlexChild {
    margin: 0 auto;
}

footer
{
    text-align: right;
}