* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

header {
    text-align: center;
    background: rgba(44, 157, 165, 0.86);
    margin: -8px;
}

.tables {
    display: grid;
    grid: 'title title'
          'parts parts'
          'acc inks';
    grid-template-columns: 50% 50%;
}

#stamps {
    grid-area: parts;
}

#extras {
    grid-area: acc;
}

#inks {
    grid-area: inks;
}

.subtitle {
    text-align: center;
    grid-area: title;
    margin: 7% auto 4%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto 4%;
    border: 2px solid rgba(36, 45, 65, 0.79);
}

th, td {
    border: 1px solid rgba(93, 115, 116, 0.79);
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}

.tblnames {
    background: rgba(93, 115, 116, 0.79);
    border-bottom: 2px solid rgba(36, 45, 65, 0.79);
}

.tblnames th {
    font-size: 19px;
    border-right: 2px solid rgba(36, 45, 65, 0.79);
}

td {
    font-size: 17px;
}

.closed {
  display: none;
}

.dialogForeground {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: #fff;
  width: 70%;
  padding: 4%;
}

.dialogBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0,0,0,0.6);
}

#close {
  position: absolute;
  top: 5%;
  left: 87%;
}

.dialogTitle {
  text-align: center;
}

.dialogForm {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

footer {
    text-align: center;
}